# Variables que NestJS va a leer mediante ConfigService
# Configuración de Base de Datos
DB_HOST=mysql_db
DB_PORT=3306
DB_USERNAME=matias
DB_PASSWORD=admin
DB_DATABASENAME=FifaDb

# --- CONFIGURACIÓN PARA DOCKER COMPOSE (MySQL) ---
# Mapeamos las variables que te pide el docker-compose.yml
MYSQL_ROOT_PASSWORD=r00t_1234

# --- OTRAS CONFIGURACIONES ---
JWT_SECRET=Est3EsMISE3Dsecreto32
CORS_ORIGINS=http://localhost:4200



