<nav class="navbar navbar-expand-lg bg-dark"  data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fifa Challenge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      

      @let authstatus = authService.authStatus();
      @if(authstatus === 'authenticated'){
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Players
          </a>
          <ul class="dropdown-menu">            
            <li><a class="dropdown-item" >Create</a></li>
            <li><a class="dropdown-item" >Edit</a></li>
            <li><a class="dropdown-item" >Details</a></li>
            <li><a class="dropdown-item" >List</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" >Skill Evolution</a></li>
            <li><a class="dropdown-item" >Evolution IA</a></li>
          </ul>
        </li>
        
        </ul>

        <ul class="navbar-nav mb-2 mb-lg-0">        
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{authService.user()?.fullName}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" (click)="authService.logout()">Logout</a></li>
            </ul>
          </li>
          
        </ul>
      }
      @else if(authstatus === 'not-authenticated'){
      <div class="me-auto"></div>
        <button class="btn btn-outline-info mx-2" type="button" routerLink="/auth/login" routerLinkOptions="{exact: true}">Login</button>
        <button class="btn btn-outline-info" type="button" routerLink="/auth/register" routerLinkOptions="{exact: true}">Register</button>
      }
      @else {
        <a class="btn btn-secondary">cargando....</a>
      }
      
    </div>
  </div>
</nav>
