<nav class="navbar navbar-expand-lg bg-dark"  data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fifa Challenge</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Players
          </a>
          <ul class="dropdown-menu">            
            <li><a class="dropdown-item" >Create</a></li>
            <li><a class="dropdown-item" >Edit</a></li>
            <li><a class="dropdown-item" >Details</a></li>
            <li><a class="dropdown-item" >List</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" >Skill Evolution</a></li>
            <li><a class="dropdown-item" >Evolution IA</a></li>
          </ul>
        </li>
        
      </ul>
      <button class="btn btn-outline-info" type="button">Register</button>
      <button class="btn btn-outline-info mx-2" type="button">Login</button>
      <ul class="navbar-nav mb-2 mb-lg-0">        
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Nombre Usuario
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item">Logout</a></li>
          </ul>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
